header {
background-color: mediumblue;
color: red;
}

nav {
    float: left;
}

a {
    display: block;
    padding: 8px;
    background-color: #dddddd;

}


       

.about {
    display: inline;
}

.projects {

}

footer{
    
}